.h4, h4 {
  font-family: 微軟正黑體;
}

.thumbnail {
  border: none;
  border-radius: 0px;
  box-shadow: 5px 5px 5px #e6e6e6;
  background-color: rgba(0,0,0,0.3);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

#opt1, #opt2 {
  font-family: 微軟正黑體;
  color: rgba(0,0,0,0.7);
  font-weight: 500;
  padding: 20px;
  background-color: #f2f2f2;
  letter-spacing: 1px;

}



.thumbnail .btn {
  font-family: 微軟正黑體;
  margin-top: 20px;
  margin-bottom: 10px; 
  background-color: white;
  color: #f05f40;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 1px;
}


.image_container {
  padding-top: 30px;
  padding-bottom: 30px;
}